.navbar {
  background: #000; }
  .navbar .nav-item {
    padding-left: 1em; }

.carousel .carousel-img-1 {
  background: url("../img/image1.jpeg");
  background-size: cover;
  height: 450px; }

.carousel .carousel-img-2 {
  background: url("../img/image2.jpeg");
  background-size: cover;
  height: 450px; }

.carousel .carousel-img-3 {
  background: url("../img/image3.jpeg");
  background-size: cover;
  height: 450px; }

#getstarted {
  position: relative;
  background: url("../img/bg1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 250px; }
  #getstarted .dark-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#home-video {
  position: relative;
  background: url("../img/people.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 250px; }
  #home-video .dark-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  #home-video .fa {
    font-size: 50px;
    color: #ff0000; }

#home-icon .fa {
  font-size: 50px; }

#gallery img {
  min-height: 250px; }

#copyright {
  background: #000;
  color: #fff; }

#page-header {
  background: url("../img/image1.jpeg");
  background-size: cover;
  min-height: 200px;
  background-attachment: fixed; }

#about-info img {
  height: 350px;
  width: 350px; }

#icon-box .fa {
  font-size: 50px;
  margin-bottom: 20px; }

#testimonial .slick-prev::before,
#testimonial .slick-next::before {
  color: #000; }

#services-page-header {
  background: url("../img/image3.jpeg");
  background-attachment: fixed;
  background-size: cover;
  min-height: 200px; }

#blog-page-header {
  background: url("../img/image3.jpeg");
  background-attachment: fixed;
  background-size: cover;
  min-height: 200px; }

#contact-page-header {
  background: url("../img/image3.jpeg");
  background-attachment: fixed;
  background-size: cover;
  min-height: 200px; }

@media (max-width: 767px) {
  #getstarted {
    min-height: 300px; } }

@media (max-width: 480px) {
  #getstarted {
    min-height: 400px; }
  #home-video {
    min-height: 400px; } }
